a {
    font-family: 'Courier New', Courier, monospace;   
    text-align: center;
}

.ctext {
    width: 100%;
    display: block
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large
}

.score {
    width: 45%;
    aspect-ratio: 4/1;
    background-color: rgb(150, 150, 150);
    display: inline-block;
}

button {
    position: absolute;
    top: 50%; 
    width: 25%; 
    aspect-ratio: 3/1; 
    font-weight: bold; 
    font-size: larger;
    cursor: pointer
}

span {
    display: block;
    font-family: 'Courier New', Courier, monospace;   
}

footer {
    width: 100%;
    display: block;
    background-color: rgb(150, 150, 150);
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    position: fixed
}