a {
    font-family: 'Courier New', Courier, monospace;   
    text-align: center;
}

.ctext {
    width: 100%;
    display: block
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large
}

.score {
    width: 45%;
    aspect-ratio: 4/1;
    background-color: rgb(150, 150, 150);
    display: inline-block;
}

.grid {
    width: 40%; 
    aspect-ratio: 1/1; 
}

.results {
    width: 100%;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: rgba(220, 190, 50, 0.75)
}

.resulttext {
    font-size: xx-large; 
    font-weight: bold; 
    width: auto;
    display: block; 
    margin-top: 25%;
}

button {
    font-weight: bold; 
    font-size: larger;
    cursor: pointer
}

span {
    display: block;
    font-family: 'Courier New', Courier, monospace;   
}

footer {
    width: 100%;
    display: block;
    background-color: rgb(150, 150, 150);
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    position: fixed
}